* {
  font-family: "Josefin Sans", sans-serif;
}

body {
  background-color: black;
}
.container-fluid img {
  width: 35px;
}

.navbar {
  padding-top: 0.5%;
  padding-left: 6%;
  padding-right: 8%;
  background-color: #2f3136;
}

.logo {
  font-size: 35px;
  letter-spacing: 1px;
}

span {
  color: #f9004d;
}

.navbar-toggler {
  margin-top: 10px;
}

.navbar-toggler {
  background-color: #f9004d;
}

.btn {
  transition: transform 0.4s;
  border-radius: 30px;
  background-color: #f9004d;
  color: white;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 30px;
  margin-left: 10px;
  border-radius: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn:hover {
  transform: scale(1.2);
  border: 2px solid transparent;
  background-color: #f9004d;
}

.nav-link {
  font-weight: bold;
  text-transform: capitalize;
  color: white;
}

.nav-link:hover {
  color: #f9004d;
  transition: 0.4s;
}

.nonav {
  position: absolute;
  display: flex;
  width: 100%;
  height: 93.5%;
}

aside {
  flex: 0.5;
  color: white;
  background-color: #2f3136;
}

main {
  flex: 4;
}

main div {
  display: flex;
  flex-direction: column;
}

#content {
  position: relative;
  height: 90%;
}

#messages {
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  height: 90%;
  overflow-y: scroll;
  background-color: #40444b;
}

input:focus {
  outline: none;
}

#writting {
  position: absolute;
  bottom: 0;
  color: white;
  background-color: #393c43;
  display: flex;
  width: 100%;
}

#messages div {
  margin: 0;
  padding: 10px;
  color: white;
}

form {
  padding: 15px;
  display: flex;
  width: 100%;
  justify-content: space-between0;
}

#message {
  background-color: #40444b;
  color: white;
  border: none;
  width: 90%;
  padding: 12px;
  margin-left: 15px;
  border-radius: 10px;
}

#button {
  width: 5%;
  padding: 10px;
  border-radius: 50px;
  margin-left: 15px;
  overflow: hidden;
}

#choice {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: #2f3136;
  width: 100%;
  height: 10%;
}

#choice .active {
  width: 50%;
  color: white;
  background-color: #393c43;
  display: flex;
  justify-content: center;
  align-items: center;
}

#choice p:not(.active) {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(173, 193, 211);
}

#tabs {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#tabs li {
  padding: 10px;
  color: white;
  text-transform: lowercase;
}

#tabs li.active {
  background-color: #393c43;
  font-weight: bold;
}

#tabs li:not(.active) {
  cursor: pointer;
}

.profile {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  margin-top: 50px;
}
