* {
  font-family: "Josefin Sans", sans-serif;
  overflow-x: hidden;
}

body {
  background-color: #f2f2f2;
}

h1 {
  text-align: center;
  color: #333;
  padding-top: 10px;
}

.container {
  max-width: 500px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="file"] {
  margin-top: 10px;
  transition: transform 0.4s;
  display: none;
  flex-direction: column;
  color: white;
}

input[type="submit"] {
  transition: transform 0.4s;
  border-radius: 30px;
  background-color: #f9004d;
  color: white;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 30px;
  margin-left: 10px;
  border-radius: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

input[type="submit"]:hover {
  transform: scale(1.2);
  border: 2px solid transparent;
  background-color: #f9004d;
}

.custom-file-upload {
  transition: transform 0.4s;
  display: flex;
  justify-content: center;
  cursor: pointer;
  background-color: #f9004d; /* Couleur de fond du bouton */
  height: 30px;
  border-radius: 30px;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 30px;
  margin-left: 10px;
  border-radius: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: fit-content;
}

.custom-file-upload:hover {
  transform: scale(1.2);
  border: 2px solid transparent;
  background-color: #f9004d;
}
.custom-file-upload span {
  color: white; /* Couleur du texte du bouton */
  display: flex;
  justify-content: center;
  align-items: center;
}

#files {
  display: flex;
  flex-direction: column;
  background-color: #333;
  text-align: center;
}
