* {
  font-family: "Josefin Sans", sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
}

body {
  background-image: url(../assets/etoiles.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

.gros {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
#questions {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96%;
  height: 25vh;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 15px;
  margin-top: 0.5%;
  font-size: 35px;
  text-align: center;
  font-weight: bold;
  color: white;
}

#answers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 75%;
  margin-bottom: 15px;
}

#answer1 {
  background-size: cover;
  background-color: rgba(0, 25, 54, 0.5);
  background-position: center;
  width: 100%;
  margin-right: 0%;
  margin-left: 0%;
  min-height: fit-content;
  max-height: 30%;
  border-radius: 20px;
  transition: transform 0.4s;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

#answer1_l {
  position: relative;
  height: 100%;
  background-size: cover;
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  height: fit-content;
  align-items: center;
  font-size: 30px;
  overflow-y: hidden;
}

#answer1:hover {
  transform: scale(1.1);
  overflow-x: hidden;
}

#answer2 {
  background-size: cover;
  background-color: rgba(0, 25, 54, 0.5);
  background-position: center;
  width: 100%;
  margin-right: 0%;
  margin-left: 0%;
  min-height: fit-content;
  max-height: 30%;
  border-radius: 20px;
  transition: transform 0.4s;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
}

#answer2_l {
  position: relative;
  height: 100%;
  background-size: cover;
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  height: fit-content;
  align-items: center;
  font-size: 30px;
  overflow-y: hidden;
}

#answer2:hover {
  transform: scale(1.1);
  overflow-x: hidden;
}

#answer3 {
  background-size: cover;
  background-color: rgba(0, 25, 54, 0.5);
  background-position: center;
  width: 100%;
  margin-right: 0%;
  margin-left: 0%;
  min-height: fit-content;
  max-height: 30%;
  border-radius: 20px;
  transition: transform 0.4s;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
}

#answer3_l {
  position: relative;
  height: 100%;
  background-size: cover;
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  height: fit-content;
  align-items: center;
  font-size: 30px;
  overflow-y: hidden;
}

#answer3_b {
  background-size: cover;
  display: flex;
  align-items: center;
  height: 100%;
  width: 10%;
  margin-left: -10%;
}

#answer3:hover {
  transform: scale(1.1);
}

#answer4 {
  background-color: rgba(0, 25, 54, 0.5);
  background-size: cover;
  background-position: center;
  width: 100%;
  margin-right: 0%;
  margin-left: 0%;
  height: 10%;
  overflow-x: hidden;
  border-radius: 20px;
  transition: transform 0.4s;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#answer4_l {
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
  font-size: 30px;
}

#answer4_b {
  background-size: cover;
  display: flex;
  align-items: center;
  height: 100%;
  width: 10%;
  margin-left: -10%;
}

#answer4:hover {
  transform: scale(1.1);
}

.form button {
  position: relative;
  background-color: transparent;
  color: white;
  border: none;
  top: 75%;
  font-size: 25px;
}
